#about {
    padding-top: 150px;
    padding-left: 220px;
    padding-right: 220px;
    background: white;
    height: 100%;

    p {
        font-size: 1.5rem;
        color: black;
        text-align: justify;
        margin: 0;
    }
}
