$color1: white;
$color2: black;
$color3: #ef820d;
$font1: "Fredericka the Great", cursive;

$mobile: 750px;
$tablet-large: 1100px;
$laptop: 1400px;

@media only screen and (max-width: $mobile) {
    .home {
        width: 310px;
        margin: 80px auto;
        margin-top: 142px;
        font-family: $font1;

        h1 {
            color: $color1;
            line-height: 3rem;
            font-size: 1.8rem;
            margin: 0;
        }
    }
}

@media only screen and (min-width: $mobile) {
    .home {
        width: 600px;
        margin: 159px 0px 0px 120px;
        font-family: $font1;

        .home-inline {
            display: inline;
        }

        h1 {
            color: $color1;
            font-size: 3.6rem;
        }
    }
}

@media only screen and (min-width: $tablet-large) {
    .home {
        width: 720px;
        margin: 159px 0px 0px 245px;
        font-family: $font1;

        .home-inline {
            display: inline;
        }

        h1 {
            color: $color1;
            font-size: 3.6rem;
        }
    }
}

@media only screen and (min-width: $laptop) {
    .home {
        width: 810px;
        margin: 255px 0px 0px 300px;
        font-family: $font1;

        .home-inline {
            display: inline;
        }

        h1 {
            color: $color1;
            font-size: 4.1rem;
        }
    }
}