$text-white: #fff;
$text-orange: #f7943d;
$text-black: #000;

$break-mobile: 600px;
$break-tablet-small: 767px;
$break-tablet-large: 1023px;
$break-laptop: 1200px;

@media only screen and (max-width: $break-mobile) {
    nav {
        width: 29vw;
        height: 100vh;
        background: url("./navbg.png");
        background-repeat: repeat;
        position: -webkit-sticky;
        position: sticky;
        top: 0;

        ul {
            margin: 0;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(15, 1fr);
            justify-items: center;
            min-height: 100%;
            width: 100%;
            padding-left: 0;

            li {
                list-style: none;
                justify-self: center;

                a {
                    text-decoration: none;
                    color: $text-white;
                    font-size: 0.8rem;
                    font-weight: bold;

                    &:hover,
                    &:active,
                    &:focus {
                        color: $text-orange;
                        text-shadow: -1px -1px 0 $text-black,
                            1px -1px 0 $text-black, -1px 1px 0 $text-black,
                            1px 1px 0 $text-black;
                    }
                }

                &:nth-of-type(1) {
                    grid-row-start: 2;
                    grid-row-end: 3;

                    .nav-brand__img {
                        height: 2.5rem;
                        width: 2.5rem;
                    }
                }
                &:nth-of-type(2) {
                    grid-row-start: 3;
                    grid-row-end: 4;

                    a {
                        font-size: 1.3rem;
                        font-weight: bold;
                        text-shadow: -1px -1px 0 $text-black,
                            1px -1px 0 $text-black, -1px 1px 0 $text-black,
                            1px 1px 0 $text-black;
                        font-family: "Cabin Sketch", cursive;
                    }
                }

                &:nth-of-type(3) {
                    grid-row-start: 5;
                    grid-row-end: 6;
                }
                &:nth-of-type(4) {
                    grid-row-start: 6;
                    grid-row-end: 7;
                }
                &:nth-of-type(5) {
                    grid-row-start: 7;
                    grid-row-end: 8;
                }
                &:nth-of-type(6) {
                    grid-row-start: 8;
                    grid-row-end: 9;
                }
            }
        }
    }
}

@media only screen and (min-width: $break-mobile) {
    nav {
        width: 24vw;
        height: 100vh;
        background: url("./navbg.png");
        background-repeat: repeat;
        position: -webkit-sticky;
        position: sticky;
        top: 0;

        ul {
            margin: 0;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(15, 1fr);
            justify-items: center;
            height: 100%;
            width: 100%;
            padding-left: 0;

            li {
                list-style: none;
                justify-self: center;

                a {
                    text-decoration: none;
                    color: $text-white;
                    font-size: 1rem;
                    font-weight: bold;

                    &:hover,
                    &:active,
                    &:focus {
                        color: $text-orange;
                        text-shadow: -1px -1px 0 $text-black,
                            1px -1px 0 $text-black, -1px 1px 0 $text-black,
                            1px 1px 0 $text-black;
                    }
                }

                &:nth-of-type(1) {
                    grid-row-start: 2;
                    grid-row-end: 3;

                    .nav-brand__img {
                        height: 2.8rem;
                        width: 2.8rem;
                    }
                }
                &:nth-of-type(2) {
                    grid-row-start: 3;
                    grid-row-end: 4;

                    a {
                        font-size: 1.7rem;
                        font-weight: bold;
                        text-shadow: -1px -1px 0 $text-black,
                            1px -1px 0 $text-black, -1px 1px 0 $text-black,
                            1px 1px 0 $text-black;
                        font-family: "Cabin Sketch", cursive;
                    }
                }

                &:nth-of-type(3) {
                    grid-row-start: 5;
                    grid-row-end: 6;
                }
                &:nth-of-type(4) {
                    grid-row-start: 6;
                    grid-row-end: 7;
                }
                &:nth-of-type(5) {
                    grid-row-start: 7;
                    grid-row-end: 8;
                }
                &:nth-of-type(6) {
                    grid-row-start: 8;
                    grid-row-end: 9;
                }
            }
        }
    }

    @media only screen and (min-width: $break-tablet-small) {
        nav {
            width: 20vw;

            ul {
                li {
                    &:nth-of-type(1) {
                        .nav-brand__img {
                            height: 3.4rem;
                            width: 3.4rem;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (min-width: $break-tablet-large) {
        nav {
            ul {
                li {
                    &:nth-of-type(1) {
                        .nav-brand__img {
                            height: 3.7rem;
                            width: 3.7rem;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (min-width: $break-laptop) {
        nav {
            width: 16vw;

            ul {
                li {
                    &:nth-of-type(1) {
                        .nav-brand__img {
                            height: 4rem;
                            width: 4rem;
                        }
                    }
                }
            }
        }
    }
}
